// "xxl" | "lg" | "sm" | "xs"; // 54px 40px 30px 28px
.btn-xxl {
    padding: 0 15px;
    height: 54px;
}

.btn-lg {
    padding: 0 10px;
    height: 40px;
}

.btn-sm {
    padding: 0 10px;
    height: 30px;
}

.btn-xs {
    padding: 0 5px;
    height: 28px;
}
